:root{
    --blanco:#ffffff;
    --ocuro:#21212112;
    --primario: #ffc107;
    --secuandario: #0097a7;
    --gris: #757575;
    
    
}

html{
    font-size: 62.5%;
    font-family: Krub,Arial, Helvetica, sans-serif;
    /*Ajuste para modelo de caja "model box"*/
    box-sizing: border-box;
}

* *::before. *::after{
    /*hack para los modelos de caja*/
    box-sizing: inherit;
}

/*Tipografía*/

h1{
    font-size: 3.8rem;
}
h2{
 font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center ;
}

body{
    /*16 px es el estandar para un navegador web*/
    font-size: 16px;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
.navegacion-principal{
    background-color: var(--secuandario);
}
.contenedor{
    
    margin: 0 auto;
    max-width: 120rem;
}
.nav-bg{
    background-color: var(--secuandario);
}
.navegacion-principal a{
    /*background-color: var(--blanco);*/
    /*Quitar subrayado*/
    text-decoration: none;
    padding: 1rem;
    color: var(--blanco);
}
.navegacion-principal{
    /*padding: 1rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*jutify-content para filas y align para columnas*/
    /*justify-content: space-between;*/
    font-size: 2rem;
    font-weight: bold;
}
/*si al menos tiene 768px (tablet)*/
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
 }
.navegacion-principal a:hover{
    background-color: var(--primario);

}
.hero{
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    /*cover cubre la imagen con todo el tamaño posible*/
    background-size: cover;
    height: 450px; /*altura del elemento*/
    position: relative; /*manipular la posición,el padre siembr
    debe ser relativo*/
}

.contenido-hero{
    /*el hijo siempre debe ser absoluto*/
    position: absolute;
    background-color: rgba(0, 0, 0, .7); /*red,gree,blue,alpha(opacidad)*/
    width: 100%;
    height: 100%;
    /*Alinear vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero p,h2{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: flex-end;
}

.boton{
    /*color del texto y el fondo*/
    background-color: var(--secuandario);
    color: var(--blanco);
    padding: 1rem,3rem;
    margin-top: 5rem;
    font-size: 2rem;
    /*subrayado*/
    text-decoration: none;
    /*texto mayuscula*/
    text-transform: uppercase;
    /*texto negrita*/
    font-weight: bold;
    /*borde redondeado*/
    border-radius: .5rem;
    width: 90%;
    height: 10%;
    text-align: center;
}


/*cuando se haga responsive el boton queda grande*/
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
 
 }